<div class="wrapper">

<h1><%= @user.name %>'s Profile</h1>
<sub>Location: <%=@user.location%></sub>
<br/>
<sub>Member since: <%= display_date(@user.created_at) %></sub>
<a href="/logout">Logout</a>

<% if active_posts? %>
    <h5>Active Posts: </h5>
    <% @user.posts.each do |post| %>
        <p>
            <%=@user.posts.index(post)+1%>. <a href="/posts/<%=post.id%>"> <%=post.title%></a> - posted on <%=display_date(post.created_at)%> 
        </p>
    <% end %>
<% end %>

<% if owner? %> <!-- Current_User access only -->
    <a href="/users/<%=@user.id%>/edit">Edit Account</a>
    <br/>
    <form action="/users/<%=@user.id%>/delete" method="POST" >
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Account" />
    </form>
<% end %>