<div class="wrapper">

<% if owner? %>
    <div class='row'>
        <div class='col-md-8'></div>
        <div class="col-md-2">
            <a class="btn btn-outline-success" href="/users/<%=@user.id%>/edit">Edit Account</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-danger" href="/logout">Logout</a>
            <br/><br/>
        </div>
    </div>
<% end %>

<div class="card">
  <div class="card-header">
    <% if owner? %>
        <h5 class="text-center">Your Profile</h5>
    <% else %>
        <h5 class="text-center"><%= @user.name %>'s Profile</h5>
    <% end %>
    <small class="card-text text-muted">City: <%=@user.location.city%></small>
    <br/>
    <small class="card-text text-muted">Member since: <%= display_date(@user.created_at) %></small>
  </div>
  <div class="card-body">
    <% if active_posts? %>
        <h5 class="card-title"><%=@posts.count%> Active Post(s)</h5>
        <% @posts.each do |post| %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%=post.title%></h5>
                    <h6 class="card-subtitle mb-2 text-muted">posted <%=time_since_post(post.created_at)%></h6>
                    <p class="card-text"><%=owner_name(post)%> <%=car_type(post)%> to go from <%=post.origin%> to <%=post.destination%></p>
                    <a href="/posts/<%=post.id%>" class="btn btn-outline-primary">View Details</a>
                </div>
            </div>
        <br/>
        <% end %>
    <% else %>
        <h5 class="card-title text-center">No posts here!</h5>
        <% if owner? %>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-4">
                    <a class="btn btn-primary" href="/posts/new">Create One</a>
                </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

