<div class="wrapper">

<div class="card">
  <h5 class="card-header"><%=@post.title%></h5>
  <div class="card-body">
    <p class="card-text"><%=@post.desc%></p>
    <h6 class="card-title">Car: <%=car_type(@post)%></h6>
    <p class="card-text"><%=@post.origin%> -----> <%=@post.destination%> by <%=display_date(@post.end_date)%></p>

  </div>
    <div class="card-footer text-muted text-center">
    <% if !owner? %>
        Posted by <a href="/users/<%=@post.user.id%>" ><%=@post.user.name%></a> on <%=display_date(@post.created_at.to_date)%>
    <% else %>
        You posted this on <%=display_date(@post.created_at.to_date)%>
    <% end %>
  </div>
</div>
<br/>
<% if !owner? %>
    <a class="btn btn-outline-primary" href="mailto:<%=@post.user.email%>">Email <%=@post.user.name%></a>
<% else %>
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-outline-success" href="/posts/<%=@post.id%>/edit">Edit Post</a>
        </div>
        <div class="col-md-2">
            <form action="/posts/<%=@post.id%>/delete" method="POST" >
                <input type="hidden" name="_method" value="DELETE" />
                <input class="btn btn-outline-danger" type="submit" value="Delete Post" />
            </form>
        </div>
    </div>
<% end %>