<h1>POST SHOW PAGE</h1>

<h2><%=@post.title%></h2>
<sub>Posted by <a href="/users/<%=@post.user.id%>" ><%=@post.user.name%></a> on <%=display_date(@post.created_at.to_date)%></sub>
<h3>Car: <%=car_type(@post)%></h3>
<br/>
<br/>
<p><%=@post.desc%></p>
<br/>

<p>Needs to get from <%=@post.origin%> to <%=@post.destination%> by <%=display_date(@post.end_date)%></p>

<br />
<br />

<% if !owner? %>
    <a href="mailto:<%=@post.user.email%>">Email <%=@post.user.name%></a>
<% end %>

<% if owner? %> <!-- Post Owner access only -->
    <a href="/posts/<%=@post.id%>/edit">Edit Post</a>
    <br/>
    <form action="/posts/<%=@post.id%>/delete" method="POST" >
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" value="Delete Post" />
    </form>
<% end %>